.error-notification {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #545050;
}

.error-notification__text {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}